{% extends "base.html" %}

{% block title %}Publisher hub{% endblock %}

{% block content %}
<div class="container-md">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'example-tenders' %}">Publisher Hub</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ id }}</li>
        </ol>
    </nav>

    <h1 class="mt-4">{{ title }}</h1>

    <h1 class="mt-4">Thursday, 18th June 2021</h1>
    <hr class="mb-5" />
    <div class="row">
      <div class="col-sm-12 col-md-8" role="main">
        <div class="row">
          <div class="col">
            <h3 class="h6 ">Key figures</h3>
              <div class="dropdown figures-dropdown mb-2">
              Show <a class="dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                count</a> 
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">percentages</a>
                <a class="dropdown-item" href="#">change</a>
              </div>
            </div>
            <div class="dropdown figures-dropdown mb-2">
              Last <a class="dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                3 months</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">6 months</a>
                <a class="dropdown-item" href="#">12 months</a>
                <a class="dropdown-item" href="#">All time</a>
              </div>
            </div>
           
            <div class="dropdown figures-dropdown mb-2">
              Compare to <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                last year</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">two years ago</a>
                <a class="dropdown-item" href="#">preceeding period</a>
              </div>
            </div>
          </div>
          <div class="col">
            <h3 class="h6">Tenders</h3>
            <div class="figure-box media">
              <svg width="36" height="51" viewBox="0 0 36 51" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                <path d="M18 0L36 31.1044H0L18 0Z" fill="#C4C4C4"/>
                <path d="M12.9443 17.9341H23.0557V51H12.9443V17.9341Z" fill="#C4C4C4"/>
              </svg>
              <div class="media-body">
                <p class="figure-box__change figure-box--up mb-0">+21%</p>
                <p class="figure-box__main-figure figure-box--up mb-0">12,372</p>
                <p class="figure-box__compare-figure">10,231</p>
             </div>
            </div>
          </div>
          <div class="col">
            <h3 class="h6">Contract awards</h3>
            <div class="figure-box media">
              <svg width="36" height="51" viewBox="0 0 36 51" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                <path d="M18 51L36 19.8956H0L18 51Z" fill="#C4C4C4"/>
                <path d="M12.9443 33.0659H23.0557V-3.8147e-06H12.9443V33.0659Z" fill="#C4C4C4"/>
              </svg>
              <div class="media-body">
                <p class="figure-box__change figure-box--up mb-0">+21%</p>
                <p class="figure-box__main-figure figure-box--up mb-0">12,372</p>
                <p class="figure-box__compare-figure">10,231</p>
             </div>
            </div>
          </div>
          
          <div class="col">
            <h3 class="h6">Spend files</h3>
            <div class="figure-box media">
              <svg width="36" height="51" viewBox="0 0 36 51" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                <path d="M18 0L36 31.1044H0L18 0Z" fill="#C4C4C4"/>
                <path d="M12.9443 17.9341H23.0557V51H12.9443V17.9341Z" fill="#C4C4C4"/>
              </svg>
              <div class="media-body">
                <p class="figure-box__change figure-box--down mb-0">-21%</p>
                <p class="figure-box__main-figure figure-box--down mb-0">12,372</p>
                <p class="figure-box__compare-figure">10,231</p>
             </div>
            </div>
          </div>
        </div>
    
        <hr class="my-5" />
          <h2 class="h6">Yesterday</h2>
          <ol class="list-unstyled timeline">
            <li>
              <div class="timeline__entry">
                Received a new <a href="#">spend file for April 2020</a>
              </div>
              <li>
                <div class="timeline__entry">
                  Received a new <a href="#">spend file for April 2020</a>
                </div>
              </li>
              <li>
                <div class="timeline__entry">
                  Received a new <a href="#">spend file for April 2020</a>
                </div>
              </li>
              <li>
                <div class="timeline__entry">
                  Received a new <a href="#">spend file for April 2020</a>
                </div>
              </li>
            </li>
          </ol>
          <h2 class="h6">Monday</h2>
          <ol class="list-unstyled timeline">
            <li>
              <div class="timeline__entry">
                Received a new <a href="#">spend file for April 2020</a>
              </div>
              <li>
                <div class="timeline__entry">
                  Received a new <a href="#">spend file for April 2020</a>
                </div>
              </li>
              <li>
                <div class="timeline__entry">
                  Received a new <a href="#">spend file for April 2020</a>
                </div>
              </li>
              <li>
                <div class="timeline__entry">
                  Received a new <a href="#">spend file for April 2020</a>
                </div>
              </li>
            </li>
          </ol>
      </div>
      
      <div class="col-sm-12 col-md-4 pl-md-4">
        <div class="performance-chart">
          <h3 class="h6 ">Poor performers</h3>
              <div class="dropdown figures-dropdown mb-2">
              Last <a class="dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                3 months</a> 
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">months</a>
                <a class="dropdown-item" href="#">6 months</a>
                <a class="dropdown-item" href="#">12 months</a>
              </div>
            </div>
          <div class="list-group list-group-flush text-align-left mb-3">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
              <svg fill="none" height="10" viewBox="0 0 13 10" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#c4c4c4"><path d="m3.29623 7.09376 6.17127-6.17126 2.7512 2.75119-6.17128 6.17126z"/><path d="m6.0619 9.73558-6.0619-6.06191 2.75119-2.751185 6.0619 6.061905z"/></g></svg>
              <span class="flex-grow-1 text-left ml-3">Borsetshire Council</span>
              <span class="badge badge-primary badge-pill align-self-right">14</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
              <svg fill="none" height="9" viewBox="0 0 13 9" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#c4c4c4"><path d="m8.92246 2.75119-6.17127 6.17126-2.75118785-2.75119 6.17126785-6.17125862z"/><path d="m6.15678.109375 6.06192 6.061905-2.7512 2.75119-6.0619-6.06191z"/></g></svg> 
              <span class="flex-grow-1 text-left ml-3">Shropshire Council</span>
              <span class="badge badge-primary badge-pill">2</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
              <svg fill="none" height="10" viewBox="0 0 13 10" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#c4c4c4"><path d="m3.29623 7.09376 6.17127-6.17126 2.7512 2.75119-6.17128 6.17126z"/><path d="m6.0619 9.73558-6.0619-6.06191 2.75119-2.751185 6.0619 6.061905z"/></g></svg>
              <span class="flex-grow-1 text-left ml-3">Buckinghamshire Council</span>
              <span class="badge badge-primary badge-pill">1</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
              <svg fill="none" height="9" viewBox="0 0 13 9" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#c4c4c4"><path d="m8.92246 2.75119-6.17127 6.17126-2.75118785-2.75119 6.17126785-6.17125862z"/><path d="m6.15678.109375 6.06192 6.061905-2.7512 2.75119-6.0619-6.06191z"/></g></svg>
              <span class="flex-grow-1 text-left ml-3">Salford City Council</span>
              <span class="badge badge-primary badge-pill">1</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center border-bottom">
              <svg fill="none" height="9" viewBox="0 0 13 9" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#c4c4c4"><path d="m8.92246 2.75119-6.17127 6.17126-2.75118785-2.75119 6.17126785-6.17125862z"/><path d="m6.15678.109375 6.06192 6.061905-2.7512 2.75119-6.0619-6.06191z"/></g></svg> 
              <span class="flex-grow-1 text-left ml-3">Essex City Council</span>
              <span class="badge badge-primary badge-pill">1</span>
            </a>
          </div>
          <a href="#">View all publishers</a>
        </div>
     </div>

  
</div>
{% endblock %}
