DJANGO_SETTINGS_MODULE="proj.settings"
DATABASE_URL="postgres://bluetail:bluetail@localhost:5432/bluetail"
SECRET_KEY="changeme"

ELASTICSEARCH_URL="https://xxx.europe-west1.gcp.cloud.es.io:9243"
ELASTICSEARCH_BODS_INDEX="bods-open_ownership_register"
