[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# mySociety Django project
django = ">=2.2,<2.3"
markdown = "==2.6.8"
pillow = "*"
pyyaml = "==4.2b1"
argparse = "==1.2.1"
csscompressor = "==0.9.4"
django-autoslug = "==1.9.7"
django-htmlmin = "*"
django-markitup = "==4.0.0"
django-pipeline = "==1.6.14"
django-pipeline-csscompressor-master = {ref = "6a88fde5045d68746f1c7ee816deda86615c5581", git = "https://github.com/mysociety/django-pipeline-csscompressor", editable = true}
futures = "==3.0.5"
libsass = "==0.12.3"
olefile = "==0.44"
psycopg2 = "==2.8.5"
six = "==1.10.0"
feedparser = "==5.2.1"
django-import-export = "==2.0.2"
# Heroku
waitress = "==1.4.3"
whitenoise = "==5.0.1"
dj-database-url = "==0.5.0"
# Bluetail
django-pgviews-redux = "==0.6.0"

[dev-packages]
# Used for scripts to gather and process Contracts Finder data
ocdskit = "*"
pandas = "*"
elasticsearch = "<8"
elasticsearch_dsl = "*"
smart_open = "*"

[requires]
python_version = "3.6"
