{% load flag_templatetags %}
{% get_flags_for_bods_entity_or_person person as flags %}

<div class="card bods-scorecard">
    <h5 class="card-header d-flex align-items-center">
        <span class="mr-auto">{{ person.fullName }}</span>
        {% if flags.total_errors %}
            <span class="ml-2 badge badge-pill badge-danger d-flex">
            {% include "icons/prohibited.html" with classes="icon mr-1" %}
            {{ flags.total_errors }}
        </span>
        {% endif %}
        {% if flags.total_warnings %}
            <span class="ml-2 badge badge-pill badge-warning d-flex">
            {% include "icons/exclamation.html" with classes="icon mr-1" %}
            {{ flags.total_warnings }}
        </span>
        {% endif %}
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <small class="scorecard-key">Full name</small>
            <span class="scorecard-value">{{ person.fullName }}</span>
        </li>
        <li class="list-group-item {% if flags.person_id_flags.error %}list-group-item-danger{% elif flags.person_id_flags.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">{{ person.identifiers_json.0.scheme }}</small>
            <span class="scorecard-value">{{ person.identifiers_json.0.id }}</span>
            {% for flag in flags.person_id_flags.error %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
            {% for flag in flags.person_id_flags.warning %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</div>
