<div class="card bods-scorecard">
    <h5 class="card-header d-flex align-items-center">
        <span class="mr-auto">{{ company.entity_name }}</span>
        {% if company.total_errors %}
            <span class="ml-2 badge badge-pill badge-danger d-flex">
            {% include "icons/prohibited.html" with classes="icon mr-1" %}
            {{ company.total_errors }}
        </span>
        {% endif %}
        {% if company.total_warnings %}
            <span class="ml-2 badge badge-pill badge-warning d-flex">
            {% include "icons/exclamation.html" with classes="icon mr-1" %}
            {{ company.total_warnings }}
        </span>
        {% endif %}
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <small class="scorecard-key">Company name</small>
            <span class="scorecard-value">{{ company.entity_name }}</span>
        </li>
        <li class="list-group-item {% if company.company_id.error %}list-group-item-danger{% elif company.company_id.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">{{ company.entity_id_scheme }}</small>
            <span class="scorecard-value">{{ company.entity_id }}</span>
            {% if company.company_id.error %}
                <p class="scorecard-warning">{{ company.party_id.error }}</p>
            {% elif company.company_id.warning %}
                <p class="scorecard-warning">{{ company.party_id.warning }}</p>
            {% endif %}
        </li>
        <li class="list-group-item {% if company.jurisdiction.error %}list-group-item-danger{% elif company.jurisdiction.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">Country of registration</small>
            <span class="scorecard-value">{{ company.incorporatedInJurisdiction }}</span>
            {% if company.jurisdiction.error %}
                <p class="scorecard-warning">{{ company.jurisdiction.error }}</p>
            {% elif company.jurisdiction.warning %}
                <p class="scorecard-warning">{{ company.jurisdiction.warning }}</p>
            {% endif %}
        </li>
    </ul>
</div>
