<div class="card mt-4" style="max-width: 40em">
    <div class="card-body">
      {% if errors or warnings %}
        <div class="mb-3">
            {% include "partials/application-errors-badge.html" with n=errors classes="mr-2" %}
            {% include "partials/application-warnings-badge.html" with n=warnings classes="mr-2" %}
        </div>
      {% endif %}
        <h2 class="h3 card-title">
            <a {% if view %}href="{% url view ocid %}?{{ request.GET.urlencode }}"{% else %}href="#" class="fake-link"{% endif %}>
                {{ title }}
            </a>
        </h2>
        <p class="card-text">{{ publisher }}</p>
    </div>
    <div class="card-footer text-muted d-flex">
        <div class="mr-auto">Tender Deadline: {{ end|date:'d M Y' }}</div>
        <div>{{ tenderers|length }} tenders received</div>
    </div>
    <div class="ml-3">
        {% if errors %}
            
        {% endif %}
    </div>
    <div class="ml-3">
        {% if warnings %}
            
        {% endif %}
    </div>
</div>
