{% load flag_templatetags %}
{% get_flags_for_ocds_party company as flags %}

<div class="card bods-scorecard">
    <h5 class="card-header d-flex align-items-center">
        <span class="mr-auto">{{ company.party_name }}</span>
        {% if flags.total_errors %}
            <span class="ml-2 badge badge-pill badge-danger d-flex">
                    {% include "icons/prohibited.html" with classes="icon mr-1" %}
                    {{ flags.total_errors }}
                    </span>
        {% endif %}
        {% if flags.total_warnings %}
            <span class="ml-2 badge badge-pill badge-warning d-flex">
                {% include "icons/exclamation.html" with classes="icon mr-1" %}
                {{ flags.total_warnings }}
            </span>
        {% endif %}
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <small class="scorecard-key">Company name</small>
            <span class="scorecard-value">{{ company.party_name }}</span>
        </li>
        <li class="list-group-item {% if flags.company_id_flags.error %}list-group-item-danger{% elif flags.company_id_flags.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">Company ID</small>
            {% if company.party_identifier_scheme %}
                <span class="scorecard-value">
                    [{{ company.party_identifier_scheme }}]
                    {{ company.party_identifier_id }}
                </span>
            {% endif %}
            {% for flag in flags.company_id_flags.error %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
            {% for flag in flags.company_id_flags.warning %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item {% if flags.jurisdiction_flags.error %}list-group-item-danger{% elif flags.jurisdiction_flags.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">Country of registration</small>
            <span class="scorecard-value">{{ company.party_countryname }}</span>
            {% for flag in flags.jurisdiction_flags.error %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
            {% for flag in flags.jurisdiction_flags.warning %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</div>
