<div class="card bods-scorecard">
    <h5 class="card-header d-flex align-items-center">
        <span class="mr-auto">{{ person.name }}</span>
      {% if person.total_errors %}
        <span class="ml-2 badge badge-pill badge-danger d-flex">
            {% include "icons/prohibited.html" with classes="icon mr-1" %}
            {{ person.total_errors }}
        </span>
      {% endif %}
      {% if person.total_warnings %}
        <span class="ml-2 badge badge-pill badge-warning d-flex">
            {% include "icons/exclamation.html" with classes="icon mr-1" %}
            {{ person.total_warnings }}
        </span>
      {% endif %}
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <small class="scorecard-key">Full name</small>
            <span class="scorecard-value">{{ person.name }}</span>
        </li>
        <li class="list-group-item {% if person.national_id.error %}list-group-item-danger{% elif person.national_id.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">National ID</small>
            <span class="scorecard-value">{{ person.national_id.value }}</span>
          {% if person.national_id.erorr %}
            <p class="scorecard-warning">{{ person.national_id.error }}</p>
          {% endif %}
          {% if person.national_id.warning %}
            <p class="scorecard-warning">{{ person.national_id.warning }}</p>
          {% endif %}
        </li>
    </ul>
</div>
