<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-md">
        <a class="navbar-brand" href="{% url 'example-tenders' %}">
            {% include 'icons/shield.html' with classes="icon mr-1" %}
            Ministry of Efficiency
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'example-tenders' %}">
                        Tenders in progress
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Spending analysis
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
