<div class="card mt-4" style="max-width: 40em">
    <div class="card-body">
        <h2 class="h3 card-title"><a {% if view %}href="{% url view %}"{% else %}href="#" class="fake-link"{% endif %}>{{ tender.title }}</a></h5>
        <p class="card-text">{{ tender.publisher }}</p>
    </div>
    <div class="card-footer text-muted d-flex">
        <div class="mr-auto">{% if tender.is_closed %}Closed{% else %}Closes{% endif %} {{ tender.closed_date }}</div>
        <div>{{ tender.received }} tender{{ tender.received|pluralize }} received</div>
    </div>
</div>
