.google-table-row {
  background-color: #FFFFFF;
}


.text-center{
	text-align:center;
}

.google-table-row-odd{
  background-color: #f3f1eb;
}

.google-table-row-selected {
  background-color: #c3ffdb;
}

.google-table-row-hover {
  background-color: #d6e9f8;
}

#map-canvas {
  width: 100%;
  height: 400px;
  background-color: #CCC;
}


.col-half {
	  float: left;
	  width: 100%;
	  margin-top:20px;

  
  @media screen and (min-width: 60em) {
	  width: 50%;

}
}


.search-area-title {
font-size: 1em;
    font-weight: 600;
	margin-top: 0;
    margin-bottom: 0.5em;
    text-rendering: optimizeLegibility;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	display: block;
	text-align: center;
}

.h3-padder {
padding-top:1.166666667em;
margin-block-end: 1em;
}

.col-third {
	  float: left;
	  width: 50%;
	  margin-top:20px;
	  padding-right:10px;

  
  @media screen and (min-width: 60em) {
	  width: 33%;

}
}

.mobile-quarter {
	  float: left;
	  width: 25%;
	  margin-top:20px;

  
  @media screen and (min-width: 60em) {
	  width: 0%;

}
}




.mobile-divide {
	  border-top:2px solid grey;
	  padding-top:20px;
  @media screen and (min-width: 60em) {
	  border-top: none;
	  padding-top: 0px;

}
}

.wider-divide {
	  border-top: none;
	  padding-top: 0px;
  @media screen and (min-width: 60em) {
	  margin-top:20px;
	  border-top:2px solid grey;
	  padding-top:20px;

}
}

.fallback-table {
	width: 100%;	
}

.fallback-table-header {
	text-align:left;
}


.grid:after {
  content: "";
  display: table;
  clear: both;

}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
	@media screen and (min-width: 60em) {
	  width: 50%;
	}
	
}

.center-image-no-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}

.graph-spacer{
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

.main-content h2 {
	border-top: 0px;
}
