$source: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, serif !default;

$colour_orange: #f79421;
$colour_off_white: #f3f1eb;
$colour_light_grey: #e4e3dd;
$colour_dark_grey: #787774;
$colour_black: #333333;
$colour_red: #dd4e4d;
$colour_yellow: #fff066;

$colour_green: #61b252;
$colour_green_dark: #53a044;
$colour_green_dark_2: #388924;

$colour_blue: #54b1e4;
$colour_blue_dark: #2b8cdb;
$colour_blue_dark_2: #207cba;

$colour_brand: $colour_yellow !default;

$colour_background: $colour_off_white !default;
$colour_links: $colour_blue_dark !default;
$colour_borders: $colour_light_grey !default;

$giant-screen: 77.777777778em !default;
$large-screen: 56.888888889em !default;
$mediumish-screen: 40em !default;
$medium-screen: 30em !default;

$base-spacing-unit: 32px !default;

// Depending on where your Sass/CSS files are, and how you've
// imported mysociety-docs-theme, you might need to change $theme_dir.
// Remember, CSS url() paths are relative to the CSS file.

$theme_dir: '../../theme' !default;

// These *should always* be overridden

$logo_path: "#{$theme_dir}/img/fixmystreet-logo.svg" !default;
$logo_height: 60px !default;
$logo_width: 320px !default;


// These footer settings *can* be overridden

$mysoc-footer-background-color: $colour_black !default;
$mysoc-footer-text-color: #acacac !default;
$mysoc-footer-site-name-text-color: #fff !default;

$mysoc-footer-link-text-color: #fff !default;
$mysoc-footer-link-hover-text-color: #fff !default;

$mysoc-footer-divider-color: #4b4b4b !default;

$mysoc-footer-donate-background-color: lighten($colour_black, 5%) !default;
$mysoc-footer-donate-text-color: #fff !default;
$mysoc-footer-donate-button-background-color: #E04B4B !default;

$mysoc-footer-legal-text-color: #9a9a9a !default;

$mysoc-footer-image-path: "#{$theme_dir}/img/mysoc-footer/" !default;
$mysoc-footer-breakpoint-sm: $large-screen !default;
