{% load i18n %}
{% load flag_templatetags %}
{% get_flags_for_bods_entity_or_person company tenderer.ocid as flags %}

<div class="card bods-scorecard">
    <h5 class="card-header d-flex align-items-center">
        <span class="mr-auto">{{ company.entity_name }}</span>
        {% if flags.total_errors %}
            <span class="ml-2 badge badge-pill badge-danger d-flex">
            {% include "bluetail/icons/prohibited.html" with classes="icon mr-1" %}
            {{ flags.total_errors }}
        </span>
        {% endif %}
        {% if flags.total_warnings %}
            <span class="ml-2 badge badge-pill badge-warning d-flex">
            {% include "bluetail/icons/exclamation.html" with classes="icon mr-1" %}
            {{ flags.total_warnings }}
        </span>
        {% endif %}
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <small class="scorecard-key">{% trans 'Company name' %}</small>
            <span class="scorecard-value">{{ company.entity_name }}</span>
        </li>
        <li class="list-group-item {% if flags.company_id_flags.error %}list-group-item-danger{% elif flags.company_id_flags.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">{% trans 'Company ID' %}</small>
            <span class="scorecard-value">
                {% for identifier in company.identifiers_json %}
                    {% if identifier.scheme == company_id_scheme %}
                        [{{ identifier.scheme }}]
                        {{ identifier.id }}
                    {% endif %}
                {% endfor %}
            {% for flag in flags.company_id_flags.error %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
            {% for flag in flags.company_id_flags.warning %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item {% if flags.jurisdiction_flags.error %}list-group-item-danger{% elif flags.jurisdiction_flags.warning %}list-group-item-warning{% endif %}">
            <small class="scorecard-key">{% trans 'Country of registration' %}</small>
            <span class="scorecard-value">{{ company.incorporatedInJurisdiction }}</span>
            {% for flag in flags.jurisdiction_flags.error %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
            {% for flag in flags.jurisdiction_flags.warning %}
                {% if flag %}
                    <p class="scorecard-warning">{{ flag.flag_text }}</p>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</div>
