{% extends "bluetail_and_silvereye_shared/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Tenders' %}{% endblock %}

{% block content %}
    <div class="container-md">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Tenders' %}</li>
            </ol>
        </nav>

        <h1 class="mt-4">{% trans 'Tenders' %}</h1>
        {% for object in object_list %}
            {% include "bluetail/partials/ocds-card.html" with view="ocds-detail" ocid=object.ocid title=object.title publisher=object.buyer end=object.tender_enddate tenderers=object.release_json.tender.tenderers errors=object.total_errors warnings=object.total_warnings %}

        {% endfor %}

    </div>
{% endblock %}
