{% extends "base.html" %}

{% block title %}Test view{% endblock %}

{% block content %}
    <h3>OCID: {{ object.release_json.ocid }}</h3>
    <p>{{ object }}</p>
    <p><b>Object Type:</b> {{ object}}</p>
    <p><b>Title:</b> {{ object.title }}</p>
    <p><b>Description:</b> {{ object.description }}</p>
    <h4>Parties</h4>

    {% for party in object.release_json.parties %}
        <p>Party Name: {{ party.identifier.legalName }} ({{ party.identifier.id }})</p>

    {% endfor %}
    <h3>Full JSON</h3>

    <p>
        {% for key, value in object.release_json.items %}
            <pre>{{ key }}: {{ value }}</pre>

        {% endfor %}
    </p>
{% endblock %}
