{% extends "base.html" %}

{% block title %}Example Tenderer{% endblock %}

{% block content %}
<div class="container-md">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'example-tenders' %}">Tenders in progress</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ocds-detail' tender.ocid %}">{{ tender.ocid }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tenderer.party_id }}</li>
        </ol>
    </nav>

    <div class="d-md-flex align-items-center mt-4">
        <h1 class="mr-auto mb-2">{{ tenderer.party_name }}</h1>
      {% if tenderer.total_errors or tenderer.total_warnings %}
        <p class="mb-2 text-md-right" style="font-size: 1.5rem">
            {% include "partials/application-errors-badge.html" with n=tenderer.total_errors classes="mr-3" %}
            {% include "partials/application-warnings-badge.html" with n=tenderer.total_warnings classes="mr-3" %}
        </p>
      {% endif %}
    </div>
    <p>Tender application <code>{{ tenderer.party_id }}</code></p>

    <h2>Applicant</h2>
    <div class="scorecards">
        {% include "partials/ocds-org.html" with company=tenderer.object %}
    </div>

  {% if owners %}
    <h2>Beneficial owners</h2>
    <div class="scorecards">
      {% for owner in owners %}
        {% include "partials/bods-person.html" with person=owner %}
      {% endfor %}
    </div>
  {% endif %}

  {% if parents %}
    <h2>Parent companies</h2>
    <div class="scorecards">
      {% for parent in parents %}
        {% include "partials/bods-entity.html" with company=parent %}
      {% endfor %}
    </div>
  {% endif %}

</div>

{% endblock %}
