{% extends "base.html" %}

{% block title %}Example Tender{% endblock %}

{% block content %}
<div class="container-md">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'example-tenders' %}">Tenders in progress</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ id }}</li>
        </ol>
    </nav>

    <h1 class="mt-4">{{ title }}</h1>
    <p>Procurement notice <code>{{ id }}</code></p>

    <dl class="row mt-4" style="max-width: 32em">
        <dt class="col-sm-5">Published by</dt>
        <dd class="col-sm-7">{{ publisher }}</dd>
        <dt class="col-sm-5">Published date</dt>
        <dd class="col-sm-7">{{ published_date }}</dd>
        <dt class="col-sm-5">Closing date</dt>
        <dd class="col-sm-7">{{ closed_date }}</dd>
        <dt class="col-sm-5">Contract start date</dt>
        <dd class="col-sm-7">{{ start_date }}</dd>
        <dt class="col-sm-5">Value of contract</dt>
        <dd class="col-sm-7">{{ value }}</dd>
    </dl>

    <h2 class="mt-5">Tenders received</h2>

    <div class="application-summaries">
      {% for r in received %}
        {% include "partials/application-summary-row.html" with id=r.id name=r.tenderer.name errors=r.total_errors warnings=r.total_warnings %}
      {% endfor %}
    </div>

</div>
{% endblock %}
