{% extends "base.html" %}

{% block title %}Tenders{% endblock %}

{% block content %}
<div class="container-md">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active" aria-current="page">Tenders in progress</li>
        </ol>
    </nav>

    <h1 class="mt-4">Tenders in progress</h1>

    {% for t in tenders %}
        {% include "partials/tender-card.html" with view="example-tender" tender=t %}
    {% endfor %}

</div>
{% endblock %}
