.button-base {
    padding: 0.5em 1.25em;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.button {
    @extend .button-base;
    color: #fff;
    background-color: $colour_green;
    border: none;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($colour_green, 5%);
    }
}

@function calculateRem($size, $base) {
  $remSize: $size / $base;
  @return #{$remSize}rem;
}

@mixin remSize($size, $property:font-size, $base:$size-font-base) {
  #{$property}: $size; //Fallback in px
  #{$property}: calculateRem($size, $base);
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-align($alignment) {
    -webkit-box-align: $alignment;
    -webkit-align-items: $alignment;
    -ms-flex-align: $alignment;
    align-items: $alignment;
}

@mixin flex-direction($direction) {
    @if ($direction == column) {
        -webkit-box-orient: vertical;
    } @elseif ($direction == row) {
        -webkit-box-orient: horizontal;
    }
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin justify-content($alignment) {
    -webkit-justify-content: $alignment;
    -moz-justify-content: $alignment;
    -ms-justify-content: $alignment;
    justify-content: $alignment;
}

@mixin flex-wrap($wrap) {
    -moz-box-wrap: $wrap;
    -webkit-box-wrap: $wrap;
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin unstyled-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none outside none;
}

@mixin inline-list {
    margin-left: -0.5em;
    margin-bottom: 0;
    margin-top: 0;
    li {
        display: inline-block;
        margin-left: 0.5em;
    }
}
